nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:bisque ;
}

.logo{
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.nav-links li{
    list-style: none;
    font-weight: bold;
}

.burger{
    display: none;
}
.burger div{
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color: black;
}

/* .container {
    width: 100%;
    height: 100%;
    background-color: blue;
}
.column {
    background-color:rgba(163, 111, 111, 0.274);
    border-width: 5px;
    border-color: black;
} */

@media screen and (max-width: 980px) {
    body {
      background-color: pink;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      background-color: lightgreen;
    }
  }

  @media screen and (max-width: 640px) {
    .nav-links{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    }
  
  
 
 